@reference "../../../styles/index.css";

.container {
  @apply flex
    flex-col
    gap-3;
}

.title {
  @apply text-base
    font-semibold;
}

.root {
  @apply flex
    flex-col
    gap-4
    rounded-sm
    border
    border-neutral-200
    px-4
    py-3
    dark:border-neutral-900;
}
